<h1>Public::Customers#show</h1>
<p>Find me in app/views/public/customers/show.html.erb</p>

  <%= link_to "編集", edit_public_customer_path(@customer.id) %>

  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <th>氏名</th>
        <td><%= @customer.name %></td>
      </tr>
      <tr>
        <th>カナ</th>
        <td><%= @customer.name_kana %></td>
      </tr>
      <tr>
        <th></th>
        <th><%= @customer.postal_code %></th>
      </tr>
      <tr>
        <th></th>
        <th><%= @customer.address %></th>
      </tr>
      <tr>
        <th></th>
        <th><%= @customer.telephone_number %></th>
      </tr>
      <tr>
        <th></th>
        <th><%= @customer.email %></th>
      </tr>
    </tbody>
  </table>
  
  <%= link_to "配送先一覧", public_addresses_path %>
  <%= link_to "注文一覧", public_orders_path, class:"btn btn-success" %>