<h1>Public::Customers#show</h1>
<p>Find me in app/views/public/customers/show.html.erb</p>


  <%= @customer.last_name %>
  <%= @customer.first_name %>
  <%= @customer.last_name_kana %>
  <%= @customer.first_name_kana %>
  <%= @customer.postal_code %>
  <%= @customer.address %>
  <%= @customer.telephone_number %>
  <%= @customer.email %>