<h1>Public::Customers#show</h1>
<p>Find me in app/views/public/customers/show.html.erb</p>

  <%= link_to "編集", edit_public_customer_path(@customer.id), class:"btn btn-success" %>

  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
        <th>氏名</th>
        <td><%= @customer.name %></td>
      </tr>
      <tr>
        <th>カナ</th>
        <td><%= @customer.name_kana %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <th>〒 <%= @customer.postal_code %></th>
      </tr>
      <tr>
        <th>住所</th>
        <th><%= @customer.address %></th>
      </tr>
      <tr>
        <th>電話番号</th>
        <th><%= @customer.telephone_number %></th>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <th><%= @customer.email %></th>
      </tr>
    </tbody>
  </table>
  
　<div>
　  <label>配送先</label>
　  <div><%= link_to "一覧を見る", public_addresses_path, class:"btn btn-primary" %></div>
　</div>
  
  <div>
　  <label>注文履歴</label>
　  <div><%= link_to "一覧を見る", public_orders_path, class:"btn btn-primary" %></div>
　</div>
  