<div class="container">
  <div class="row justify-content-center m-md-5">
    <div class="col-10 offset-md-1">
      <h3>商品編集</h3>
      <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>
      <table>
        <tbody>
          <tr>
            <th>商品画像</th>
            <td class="p-md-2"><%= f.file_field :sweets_image, placeholder: "item_image", accept: "image/*", class:"form-control-file item_image" %></td>
          </tr>
          <tr>
            <th>商品名</th>
            <td class="p-md-2"><%= f.text_field :name %></td>
          </tr>
          <tr>
            <th>商品説明</th>
            <td class="p-md-2"><%= f.text_area :introduction, class:"form-control item_body" %></td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <td class="p-md-2"><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), class:"form-control genre_id" %></td>
          </tr>
          <tr>
            <th>税抜価格</th>
            <td class="p-md-2"><%= f.text_field :price %>円</td>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <td class="p-md-2">
              <%= f.radio_button :is_on_sale, true %>
              <%= f.label :is_on_sale_ture, "販売中", value: true %>
              <%= f.radio_button :is_on_sale, false %>
              <%= f.label :is_on_sale_false, "販売中止", value: false %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= f.submit '変更を保存する', class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>