<div class="container">
  <div class="row justify-content-center m-md-5">
    <div class="col-md-10 m-2">
      <div class="row">
        <h3 class="col-6">商品一覧</h3>
        <div class="col-6"><%= link_to "新規登録_商品", new_admin_item_path, class:"btn btn-success" %></div>
      </div>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>商品Id</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @items.each do |item| %>
        <tbody>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id) %></td>
            <td><%= item.price %></td>
            <td><%= item.genre_id %></td>
            <td><%= item.is_on_sale_status %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>