<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>

<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>商品名</th>
      <th>商品説明</th>
      <th>ジャンル</th>
      <th>税抜価格</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag @item.get_sweets_image(100, 100) %></td>
      <td><%= @item.name %></td>
      <td><%= @item.introduction %></td>
      <td><%= @item.genre.name %></td>
      <td><%= @item.price %></td>
      <td><%= @item.is_on_sale_status %></td>
    </tr>
  </tbody>
</table>

<%= link_to "編集", edit_admin_item_path(@item.id) %>