<h1>Admin::Customers#show</h1>
<p>Find me in app/views/admin/customers/show.html.erb</p>

<%= @customer.id %>
<%= @customer.last_name %>
<%= @customer.first_name %>
<%= @customer.last_name_kana %>
<%= @customer.first_name_kana %>
<%= @customer.postal_code %>
<%= @customer.address %>
<%= @customer.telephone_number %>
<%= @customer.email %>