<h1>Admin::Orders#show</h1>
<p>Find me in app/views/admin/orders/show.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <div>
        <h3>購入者</h3>
        <%= @order.customer.name %>
      </div>
      <div>
        <h3>注文日</h3>
        <%= @order.created_at.strftime('%Y/%m/%d') %>
      </div>
      <div>
        <h3>配送先</h3>
        <%= @order.postal_code %>
        <%= @order.address %></br>
        <%= @order.name %>
      </div>
       <div>
        <h3>支払方法</h3>
        <%= @order.payment_method_i18n %>
      </div>


      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <% @order_detials.each do |order_detial| %>
        <tbody>
          <tr>
            <td><%= order_detial.item.name %></td>
            <td><%= order_detial.price %></td>
            <td><%= order_detial.amount %></td>
            <td>%= order_detial.subtotal %></td>
          </tr>
        </tbody>
        <% end %>
      </table>

      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th>送料</th>
            <th><%= @order.shipping_charge %></th>
          </tr>
          <tr>
            <th>商品合計</th>
            <th><%= @total %></th>
          </tr>
          <tr>
            <th>請求金額</th>
            <th><%= @order.total_amount %></th>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>