<div class="container">
  <div class="row justify-content-center m-md-5">
    <div class="col-md-9 m-my-2">
      <div class="row justify-content-between">
        <div class="col-sm-4 py-2">ショッピングカート</div>
        <div class="col-sm-4 py-2"><%= button_to "カートを空にする", destroy_all_public_cart_items_path, method: :delete, class:"btn btn-sm btn-danger", "data-confirm" => "本当に消しますか?" %></div>
      </div>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <% @cart_items.each do |cart_item| %>
          <tbody>
            <tr>
              <td>
                <%= image_tag cart_item.item.get_sweets_image(100, 100) %>
                <%= cart_item.item.name %>
              </td>
              <td><%= cart_item.item.with_tax_price %></td>
              <td>
                <%= form_with model: cart_item, url: public_cart_item_path(cart_item.id), method: :patch do |f| %>
                  <%= f.select :amount, *[1..10],  class:"form-control" %>
                  <%= f.submit '変更', class:"btn btn-success" %>
                <% end %>
              </td>
              <td><%= cart_item.subtotal %></td>
              <td><%= button_to "削除する", public_cart_item_path(cart_item.id), method: :delete, class:"btn btn-sm btn-danger", "data-confirm" => "本当に消しますか?" %></td>
            </tr>
            <%  @total += cart_item.subtotal %>
          </tbody>
        <% end %>
      </table>
      <div class="row justify-content-between">
        <div class="col-sm-4"><%= link_to "買い物を続ける", root_path, class:"btn btn-primary" %></div>
        <table class="col-sm-4 table table-bordered">
          <tr>
            <th>合計金額</th>
            <td>￥<%= @total %></td>
          </tr>
        </table>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <% if @cart_items.exists? %>
            <%= link_to "情報入力に進む", new_public_order_path, class:"btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

