check
<div>注文情報確認</div>

<%= form_with model: @order_new, url: public_orders_path, method: :post do |f| %>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th></th>
            </tr>
          </thead>
          <% @cart_items.each do |cart_item| %>
            <tbody>
              <tr>
                <td>
                  <%= image_tag cart_item.item.get_sweets_image(100, 100) %>
                  <%= cart_item.item.name %>
                </td>
                <td><%= cart_item.item.with_tax_price %></td>
                <td><%= cart_item.amount %></td>
                <td><%= cart_item.subtotal %></td>
              </tr>
            </tbody>
          <%  @total += cart_item.subtotal %>
          <% end %>
        </table>

        <table class="table">
          <tbody>
            <tr></tr>
            <tr>
              <th>送料</th>
              <th><%= @order.shipping_charge %></th>
            </tr>
            <tr>
              <th>商品合計</th>
              <th><%= @total %></th>
            </tr>
            <tr>
              <th>請求金額</th>
              <th><%= @total + @order.shipping_charge %></th>
            </tr>
          </tbody>
        </table>
        <div>
          <div>支払方法</div>
          <%= @order.payment_method_i18n %>
        </div>
        <div>
          <div>お届け先</div>
          <%= @order.postal_code %>
          <%= @order.address %></br>
          <%= @order.name %>
        </div>
      </div>
    </div>
  </div>
  <%= f.hidden_field :postal_code, :value => @order.postal_code %>
  <%= f.hidden_field :address, :value => @order.address %>
  <%= f.hidden_field :name, :value => @order.name %>
  <%= f.hidden_field :shipping_charge, :value => @order.shipping_charge %>
  <%= f.hidden_field :total_amount, :value => @total + @order.shipping_charge %>
  <%= f.hidden_field :payment_method, :value => @order.payment_method %>
  <%= f.hidden_field :customer_id, :value => current_customer.id %>
  <%= f.submit '注文確定', class:"btn btn-success" %>
<% end %>
