<div class="container">
  <div class="row justify-content-center m-md-5">
    <div class="col-md-8 m-my-2">
      <div>
        <%= form_with model: @customer, url: customer_session_path do |f| %>
            <h2>ログイン</h2>
            <h3>会員の方はこちらからログイン</h3>
            <table>
              <tbody>
                <tr>
                  <th><%= f.label :email, "メールアドレス" %></th>
                  <td></td>
                  <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
                </tr>
                <tr>
                  <th><%= f.label :password, "パスワード" %></th>
                  <td></td>
                  <td><%= f.password_field :password, autocomplete: "current-password" %></td>
                </tr>
                <tr>
                  <% if devise_mapping.rememberable? %>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %>
                </tr>
                <tr>
                  <th></th>
                  <td></td>
                  <td><%= f.submit "ログイン", class:"btn btn-primary" %></td>
                </tr>
              </tbody>
            </table>
        <% end %>
        <div>
          <h3>会員登録がお済出ない方</h3>
          <p><%= render "public/shared/links" %>からログインしてください</p>
        </div>
      </div>
    </div>
  </div>
</div>