<div class="container">
  <div class="row justify-content-center m-md-5">
    <div class="col-md-9 m-my-2">
      <div>
        <h2>商品一覧</h2>
        <p>(全<%= Item.count %>件)</p>
      </div>
      <div class="row">
        <% @items.each do |item| %>
        <div class="col-md-3 p-2">
          <div>
            <%= link_to public_item_path(item.id) do%>
              <%= image_tag item.get_sweets_image(100, 100) %>
            <% end %>
          </div>
          <div><%= item.name %></div>
          <div>¥<%= item.with_tax_price %></div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
