<div class="container">
  <div class="row justify-content-center m-md-5">
    <div class="col-md-8 m-my-2">
      <table>
        <tbody>
          <tr>
            <th><%= image_tag @item.get_sweets_image(150, 150) %></th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th></th>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <th></th>
            <td>¥<%= @item.with_tax_price %> (税込)</td>
          </tr>
          <tr>
            <th></th>
            <td>
              <% if customer_signed_in? %>
                <%= form_with model: @cart_item, url: public_cart_items_path, method: :post do |f| %>
                  <%= f.hidden_field :item_id, :value => @item.id %>
                  <%= f.select :amount, *[1..10], class:"form-control" %>
                  <%= f.submit 'カートに入れる', class:"btn btn-success" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>